<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
          <md-card >
            <md-card-header>
              <md-card-title>
                <h3>{{dish.name | uppercase}}</h3>
              </md-card-title>
            </md-card-header>
            <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}"/>
            <md-card-content>
              <p>{{dish.description}}</p>
            </md-card-content>
            <md-card-actions>
              <button md-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
              <button md-button (click)="goBack()">BACK</button>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
              <button md-button [routerLink]="['/dishdetail', next]">
                <span class="fa fa-chevron-right fa-lg"></span>
              </button>
            </md-card-actions>
          </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
       <md-list >
              <h3>Comments</h3>
           <md-list-item *ngFor="let comment of dish.comments">
           <h4 md-line>{{comment.comment}}</h4>
           <h4 md-line>{{comment.rating}} Stars</h4>
           <p md-line>
             <span> -- {{comment.author}} {{comment.date | date}}</span>
           </p>
          </md-list-item> 
       </md-list>    
  <p>{{comment | json}}</p>

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit">
      <p>
        <md-input-container width="half-width"
        dividerColor="{{formErrors.author ? 'warn' : 'primary'}}">
      <input mdInput formControlName="author" placeholder="Name" type="text" required>
      <md-hint>
        <span [hidden]="!(formErrors.author)">
         {{formErrors.author}}
        </span>
      </md-hint>
      </md-input-container>
      </p>
      <p>
      <md-slider thumbLabel tickInterval="1" min="1" max="5" step="0.5" value="1.5"></md-slider>
      </p>
      <p>
        <md-input-container class="half-width"
        dividerColor="{{formErrors.comment ? 'warn' : 'primary'}}">
            <textarea mdInput formControlName="comment" placeholder="Your Comment" rows="5"></textarea>
            <md-hint>
                <span [hidden]="!(formErrors.comment)">
                 {{formErrors.comment}}
                </span>
                </md-hint>
          </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white"
      [disabled]="commentForm.invalid">Submit</button>
    </form>
</div>
<div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

