<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<md-card *ngIf="dish" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
  <md-card-content>
    <p>{{dish.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="dish || dishErrMess">
  <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
</div>
<div *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div>

<md-card *ngIf="promotion" fxFlex>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src={{promotion.image}} alt={{promotion.name}}>
  <md-card-content>
    <p>{{promotion.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="promotion || promotionErrMess">
  <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
</div>
<div *ngIf="promotionErrMess">
  <h2>Error</h2>
  <h4>{{promotionErrMess}}</h4>
</div>

</div>