<md-toolbar md-dialog-title color="primary">
  Login
  <span class="flex-spacer"></span>
  <button md-button md-dialog-close>&times;</button>
</md-toolbar>

<form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
  <md-dialog-content>
  <p>
    <md-input-container dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
      <input mdInput placeholder="Username" type="text" [(ngModel)]="user.username" #username="ngModel" name="username" required/>
      <md-hint>
        <span [hidden]="username.pristine">
          <span [hidden]="!username.errors?.required">username is required</span>
        </span>
      </md-hint>

    </md-input-container>
    <md-input-container dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary' }}">
      <input mdInput placeholder="password" type="password" [(ngModel)]="user.password" #password="ngModel" name="password" required/>
    <md-hint>
      <span [hidden]="password.pristine">
        <span [hidden]="!password.pristine?.required">Password is required</span>
      </span>
    </md-hint>
    </md-input-container>
    </p>
    <md-checkbox name="remember" [(ngModel)]="user.remember">
      Remember Me
    </md-checkbox>
  </md-dialog-content>
  <md-dialog-actions>
    <span class="flex-spacer"></span>
    <button md-button md-button-close>Cancel</button>
    <button type="submit" md-button class="background-primary text-floral-white"
    [disabled]="loginForm.form.invalid">Login</button>
  </md-dialog-actions>
  
</form>